.css-button-3d--blue {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block; 
  margin: 0 auto; 
  outline: none;
  border-radius: 5px;
  border: none;
  background: #161b33;
  box-shadow: 0 5px #161b33;
} 
